body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

header {
  /* background-color: rgb(9, 171, 171); */
  background-color: #219EBC;
}

main {
  flex: 1;
}


/* Estilo padrão para o logotipo */
#logo {
  width: 15%;
  height: auto;
}

/* Mídias consultas para dispositivos com largura até 768px */
@media screen and (max-width: 768px) {
  #logo {
    width: 30%;
    height: auto;
  }
}

/* Mídias consultas para dispositivos com largura até 480px */
@media screen and (max-width: 480px) {
  #logo {
    width: 50%;
    height: auto;
  }
}

/* CARD ELEMENTS ============================== */

.cards-container {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  padding: 2rem 1rem;
  border-radius: 2px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-2px);
}

card h3 {
  margin-bottom: 1rem;
}

/* CTA SECTION ============================== */

.cta-section {
  background-color: #F9F9FA;
  padding: 3rem 1rem;
}

.cta-card {
  background-color: #FFFFFF;
}

.cta-btn {
  background-color: #219EBC;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  width: max-content;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.cta-btn:hover {
  background-color: #40BEDD;
}


/* TEAM SECTION ============================== */

.team-section {
  padding: 3rem 1rem;
}

.team-card {
  background-color: #354144;
  color: #F9F9FA;
}

.team-card img {
  /* fix: crop img before using it*/
  max-width: 175px;
  border-radius: 50%;
  border: 2px solid #121617;
  margin-bottom: 1rem;
  margin-top: -3rem;
}

/* ======================================== */


/* HEX CODES:

Primary: #219EBC
Light primary: #40BEDD
White: #FFFFFF
Light grey: #F9F9FA
Dark grey: #354144
Black: #121617

*/

/* https://formspree.io/f/xqkvjjpg */

.contact-section {
  padding: 3rem 1rem;
  background-color: #F9F9FA;
}

.contact-section h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
}

.contact-section input {
  background-color: #FFFFFF;
  width: 70%;
  /* margin-left: 12%; */
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #121617;
  margin-bottom: 20px;
}

.contact-section textarea {
  background-color: #FFFFFF;
  width: 70%;
  /* margin-left: 12%; */
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: #121617;
  margin-bottom: 25px;
}

.contact-section input:focus-within {
  outline: none;
  border-color: #219EBC;
  border-width: 3px;
}

.contact-section textarea:focus-within {
  outline: none;
  border-color: #219EBC;
  border-width: 3px;
}

.contact-section button {
  background-color: #219EBC;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  /* padding: 0.5rem 1rem; */
  padding: 1rem 2rem;

  text-align: center;
  display: flex;
  margin: auto;
  transition: background-color 0.3s;

  font-size: large;

}

.contact-section button:hover {
  background-color: #40BEDD;
}


.section-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #354144;
}

.section-header li {
  float: left;
}

.section-header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.section-header li a:hover {
  background-color: #219EBC;
}

footer {
  background-color: #354144;
  color: #F9F9FA;
  font-size: large;
  font-weight: 500;
}